.instructions-header {
    text-decoration: underline;
    font-size: 14px;
}
.instructions-body {
    max-height: 350px;
    overflow-y: auto;
}
.instructions-footer {
    padding-top: 30px;
    padding-right: 20px;
}
.status-alignment {
    text-align: center;
    padding-top: 200px;
}
.disable-btn {
    opacity: 0.5;
    pointer-events: none;
}
.spinner {
    padding-top: 400px;
}