.mainBody {
    font-family: Helvetica, Arial, Sans-Serif;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */    
}
.mainBody .router-outlet-container {
    padding: 30px 50px;
}
.mainBody .main-header {
    padding: 15px 30px;
    background-color:#006ea1;
    color:white;
}
.mainBody .sub-header {
    padding: 0px 30px;
    background-color:#edf1f2;
    color:#000;
    text-align: right;
}
.merit-logo {
    height: 40px;
}
.nmat-logo {
    float: right;
    margin-top: -10px;
}