.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 50%;
}
.detail-box {
    padding-bottom:10px;
}
.detail-value {
    border: solid 1px #999999;
    border-radius: 3px;
}
.buttons-container {
    padding-top: 20px;
    width: 200px;
    margin: auto;
}
.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.details-container>.details-panel {
  background-color: #edf1f2;
  border-radius: 5px;
  width: 450px;
  padding: 20px 50px;
}
.status-alignment {
    text-align: center;
    padding-top: 200px;
}